.sportsbook-scout {
  --primary-color: #2a2a2a;
  --primary-color-hue: #484848;
  --primary-color-subtle: #7B7B7B;
  --primary-text: #f2f2f2;
  --primary-text-hue: #E1E1E1;
  --primary-text-disabled: #c7c7c7;
  --accent-color: #f2d029;
  --accent-color-hue: #F2DC6F;
  --accent-color-tinted: #F2E8A4;
  --accent-text: #332903;
  --secondary-color: #383838;
  --secondary-color-hue: #4F4F4F;
  --secondary-color-subtle: #5C5C5C;
  --secondary-text: #F2F2F2;
  --secondary-text-hue: #E1E1E1;
  --secondary-text-disabled: #C7C7C7;
  --football-background: url(https://bet-hard.fantasy.solutions/assets/football_field/field-tilted-smaller.png);
  --football-background-mobile: url(https://bet-hard.fantasy.solutions/assets/football_field/field-tilted-mobile.png);
  --hockey-background: url(https://bet-hard.fantasy.solutions/assets/hockey_field/fts-hockey_field_bg_tilted.png);
  --hockey-background-mobile: url(https://bet-hard.fantasy.solutions/assets/hockey_field/fts-hockey_field_bg_tilted.png);
  --basket-background: url(https://bet-hard.fantasy.solutions/assets/basket_field/fts-basket_field_bg_tilted.png);
  --golf-background: url(https://bet-hard.fantasy.solutions/assets/golf_field/fts-golf_field.png);
  --seasons-pane-bubble-size: .8em;
  --sport-selector-bubble-size: .8em;
  --tournaments-categories-title-color: var(--primary-text);
  --tournaments-categories-title-color-active: var(--accent-color);
  --tournaments-categories-title-color-hover: var(--accent-color);
  --tournaments-categories-background-color: var(--primary-color);
  --tournaments-categories-font-size: 1.2em;
  --tournament-info-label-color: var(--secondary-text-hue);
  --tournament-info-value-color: var(--secondary-text);
  --player-stat-tiles-label-font-size: .8em;
  --player-profile-button-bg: var(--accent-color);
  --player-profile-button-color: var(--accent-text);
  --team-membership-team-added-color: var(--accent-text);
  --team-membership-team-added-relevant-color: var(--accent-text);
  --team-membership-star-rate-color: var(--secondary-text);
  --team-membership-star-rate-solid-color: var(--secondary-text);
  --team-membership-circle-added-color: var(--primary-color);
  --match-status-time-confirmed-color: var(--secondary-text);
  --sport-selector-icon-color: var(--primary-text);
  --sport-selector-icon-width: 1.8em;
  --sport-selector-icon-height: 1.8em;
  --team-manager-label-key-color: var(--primary-text);
  --team-manager-user-ranking-icon-color: var(--primary-text);
  --team-manager-your-projection-icon-color: var(--primary-text);
  --team-manager-tournament-actions-button-color: var(--primary-text);
  --team-manager-tournament-actions-button-border-color: var(--primary-text);
  --team-creation-checklist-icon-color: var(--secondary-color-subtle);
  --sport-rules-header-color: var(--primary-text-hue);
  --field-no-peeking-background-color: var(--primary-color);
  --field-no-peeking-color: var(--primary-text);
  --participants-active-color: var(--accent-text);
  --participants-active-background-color: var(--accent-color);
  --participants-active-color-hover: var(--accent-text);
  --participants-active-background-color-hover: var(--accent-color);
  --tournaments-posters-display: none;
  --sport-selector-icon-width-mobile: 1.8em;
  --sport-selector-icon-height-mobile: 1.8em;
  --modal-overlay-padding-desktop: 8em 3em 1em;
  --window-top-reserved: 9em;
  --team-creation-helpers-default-background-color: var(--accent-color);
  --team-creation-helpers-default-color: var(--accent-text);
  --count-color-active: var(--accent-text);
  --count-background-active: var(--accent-color);
  --tournaments-categories-bubble-text-active: var(--accent-text);
  --tournaments-categories-bubble-text-hover: var(--accent-text);
  --tournaments-categories-bubble-color-active: var(--accent-color);
  --field-section-title-color: var(--primary-text);
  --dashboard-tournament-selector-height: 20em;
  --field-player-line-height: 1em;
  --score-summary-rank-text: var(--primary-text);
  font-size: 1em !important;
  margin-top: 5px;
}

/* General and specific component overrides due to Firefox bleed through */
.sportsbook-scout .ft-dashboard .ft-tournament-selector,
.sportsbook-scout input[type="search"],
.sportsbook-scout .ft-tournament-selector ft-game-card,
.sportsbook-scout .ft-tournament-selector ft-game-card *,
.sportsbook-scout ft-calendar input.ft-calendar,
.sportsbook-scout ft-team-manager .team-manager,
.sportsbook-scout ft-team-manager .team-manager * {
  box-sizing: border-box;
}
.sportsbook-scout .challenges.ft-tournaments {
  display: flex !important;
}
.sportsbook-scout .row {
  margin-left: unset;
  margin-right: unset;
}
.sportsbook-scout .row:after,
.sportsbook-scout .row:before {
  content: unset;
}

/* Country flags overrides due to Firefox bleed through */
.sportsbook-scout .id, .sportsbook-scout .gw {
  background: unset;
  background-size: unset;
  width: auto;
  height: auto;
}
@media screen and (max-width: 992px) {
  .sportsbook-scout {
    margin-top: 70px;
  }
}
@media screen and (max-width: 420px) {
  .sportsbook-scout {
    margin-top: 70px;
    --dashboard-tournament-selector-height: 22em;
  }
}
